
body {
    #header {
        .disabled-hover {
            pointer-events: none;
        }
        .gnb {
            position: relative;
            &:hover span{
                color: #c40f39;
                transition: all 0.3s;
            }
            &:hover .subMenu{
                display: block;
            }
            &:nth-child(3) .subMenu {
                left: -50px;
            }
            &:nth-child(4) .subMenu {
                left: -54px;
            }
            &:nth-child(6) .subMenu {
                left: -54px;
            }
            .subMenu {
                display: none;
                text-align: center;
                width: 180px;
                height: auto;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                position: absolute;
                left: -78px;
                z-index: 100;
                padding: 12px 25px;
                transition: all 0.3s;
                p {
                    border-bottom: 1px solid #e1e1e1;
                    &:last-child {
                        border-bottom: 0px;
                    }
                    .menu {
                        text-decoration: none;
                        display: block;
                        height: 49px;
                        line-height: 49px;
                        font-size: 14px;
                        color: #6e6e6e;
                        transition: all 0.3s;
                        &:hover {
                            color: #c40f39;
                        }
                    }
                }
    
            }
        }
        .allMenu {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 10;
            width: 100%;
            height: auto;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 1px 5px rgba(0,0,0,0.1),0 1px 0 #ddd inset;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            transition: all 0.4s;
            .allMenuList {
                height: 360px;
                padding: 50px 28px;
                box-shadow: -1px 0px 0px #e5e4e4 inset;
                h2 {
                    height: 50px;
                    margin-bottom: 20px;
                    font-size: 21px;
                    color: #303030;
                    font-weight: 500;
                    font-family: "Noto Sans KR", sans-serif;
                    &::after {
                        content: '';
                        width: 19px;
                        height: 2px;
                        display: block;
                        background: #c40f39;
                        margin: 20px 0;
                    }
                }
                ul {

                    li {
                        margin-bottom: 15px;
                        p {
                            
                            .menu {
                                font-size: 17px;
                                color: #6e6e6e;
                                font-weight: 400;
                                text-decoration: none;
                                &:hover {
                                    color: #c40f39;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    
}
.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
